.c-nav {
  background-color: whitesmoke;
  font-family: sans-serif;

  &__item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

    &:hover {
      background-color: rgba(22, 22, 22, 0.432);
      transition: all 0.75s ease-in-out;
      box-shadow: 0 0 20px 1px Crimson;

      a {
        color: white;
        transition: all 0.75s ease-in-out;

        &:hover {
          color: Crimson;
          transition: all 0.25s linear;
        }
      }
    }
  }

  img {
    width: 32px;

    &:hover {
      filter: drop-shadow(5px 5px 32px Crimson);
    }

    cursor: pointer;
  }

  a {
    color: black;
  }
}

/* ul {
  display: flex;
  justify-content: space-evenly;
  font-family: sans-serif;
  margin: 18px;
  padding-bottom: 32px;
}

a {
  color: grey;
  text-shadow: 2px 2px 4px;
  &:hover {
    color: red;
  }
}
 */
