h2 {
  color: white;
  text-align: center;
  margin-top: 64px;

  span {
    color: crimson;
  }
}

.b-container {
  display: flex;
  justify-content: center;

  &__box {
    display: flex;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 4px;
    background: #eaddcf;
    margin-top: 64px;
    width: 75%;
  }

  .c-gestion {
    margin-left: 18px;
    width: 60%;
    border-right: 1px solid black;

    &__form {
      padding: 4px;
    }
  }

  .b-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  button {
    color: white;
    background: black;
    padding: 2px;
    margin: 8px 0px;
  }

  input {
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
    width: 80%;
  }
}

.c-display {
  display: flex;
  justify-content: center;
}
