<section class="b-about">
  <h2>
    <span>Geralt of Rivia</span>, a solitary monster hunter, struggles to find
    his place in a world where people often prove more wicked than beasts.
  </h2>
  <h3>
    <span>"</span>...if I'm to choose between one evil and another, then I
    prefer not to choose at all.<span>"</span>
  </h3>
  <app-display [display]="aboutPicture"></app-display>
  <h4>
    <span>Geralt of Rivia</span>, a brooding professional monster hunter for
    hire also known as witcher, struggles to keep his humanity in a medieval
    dark fantasy world ruled by corrupt kings, queens and mages, where poverty,
    violence and intolerance are rampant, normal humans are sometimes worse than
    actual monsters and most jobs that pay well involve the darkest of human
    emotions and desires.
  </h4>
  <h4>
    <span>Yennefer of Vengerberg</span> is an ambitious mage who came from
    nothing and wants everything.
  </h4>
  <h4>
    <span>Princess Cirilla or Ciri</span> is a young girl who may or may not
    possess some great mysterious power within her. Their destinies, seemingly
    quite different, slowly intertwine in a rather cosmic fashion. Their
    companions include <span>Jaskier</span> the bard,
    <span>Geralt's</span> endearingly annoying friend and hype man vowed to
    spread the word of his heroics throughout the continent even if he has to
    embellish them a little for a few coins more,<span>Tissaia de Vries</span>,
    Yennefer's secretive mentor who believes in tough love, and Triss Merigold,
    a good-natured druidic mage and trustworthy friend. The Nilfgaardian
    Empire's sudden brutal invasion of the kingdom of Cintra ruled by Cirilla's
    protective grandmother, warrior queen Calanthe, puts their lives in great
    danger.
  </h4>
</section>
