<section class="b-about">
  <h2>
    Geralt of Rivia, a solitary monster hunter, struggles to find his place in a
    world where people often prove more wicked than beasts.
  </h2>
  <app-display [display]="aboutPicture"></app-display>
  <h4>
    The Witcher is a fantasy drama web television series created by Lauren
    Schmidt Hissrich for Netflix. It is based on the book series of the same
    name by Polish writer Andrzej Sapkowski. The Witcher follows the story of
    Geralt of Rivia, a solitary monster hunter, who struggles to find his place
    in a world where people often prove more wicked than monsters and beasts.
    But when destiny hurtles him toward a powerful sorceress, and a young
    princess with a special gift, the three must learn to navigate independently
    the increasingly volatile Continent.
  </h4>
</section>
