.b-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;

  h2,
  h3,
  h4 {
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    width: 70%;
    margin: 24px;
  }

  span {
    font-style: italic;
    color: lightcoral;

    &:hover {
      color: lightcyan;
    }
  }
}
