<section class="b-display">
  <app-display [display]="header"></app-display>
  <p>
    En esta aplicación se tratará sobre cualquier tipo de información basada en
    el mundo The Witcher. Se irá añadiendo información sobre los libros de
    Andrzej Spakowski, cómics, serie y videojuegos de CD Projekt RED.
  </p>
  <div class="b-coin">
    <p>"Toss A Coin To Your Witcher"</p>
    <span
      >When a humble bard Graced a ride along With Geralt of Rivia Along came
      this song
    </span>
    <span>
      From when the White Wolf fought A silver-tongued devil His army of elves
      At his hooves did they revel
    </span>
    <span>
      They came after me With masterful deceit Broke down my lute And they
      kicked in my teeth
    </span>
    <span>
      While the devil's horns Minced our tender meat And so cried the Witcher He
      can't be bleat</span
    >
    <span>
      Toss a coin to your Witcher Oh, Valley of Plenty Oh, Valley of Plenty, oh
      Toss a coin to your Witcher Oh, Valley of Plenty</span
    >
    <span>
      At the edge of the world Fight the mighty horde That bashes and breaks you
      And brings you to mourn</span
    ><span>
      He thrust every elf Far back on the shelf High up on the mountain From
      whence it came</span
    ><span>
      He wiped out your pest Got kicked in his chest He's a friend of humanity
      So give him the rest</span
    >
    <span
      >That's my epic tale Our champion prevailed Defeated the villain Now pour
      him some ale</span
    ><span>
      Toss a coin to your Witcher Oh, Valley of Plenty Oh, Valley of Plenty, oh
      Toss a coin to your Witcher A friend of humanity</span
    ><span>
      Toss a coin to your Witcher Oh, Valley of Plenty Oh, Valley of Plenty, oh
      Toss a coin to your Witcher A friend of humanity</span
    >
    <span
      >Toss a coin to your Witcher Oh, Valley of Plenty Oh, Valley of Plenty,
      ah-ah, oh Toss a coin to your Witcher A friend of humanity</span
    >
  </div>
</section>
